body{
    background: grey;
    font-family: sans-serif;
}

.myStlishClass{
    width: 500px;
    margin: auto;

}
blockquote{
    border: 1px solid white;
    margin-left: 0px;
    text-align: center;
}